<div *ngIf="products.length > 0" class="row">
    <div class="col-sm-4">

        <h3> Cart </h3>

        <table class="shopping-cart ">
            <!-- Shopping Cart Item -->
            <tbody>

                <tr *ngFor="let product of products">

                    <td>
                        <div class="cart-item-title"><a [routerLink]="(['/home', {outlets: {'cart':['product', product.id]}}])">{{product.title}}</a></div>
                    </td>
                    <td>
                        <div class="feature">Size: <b>{{product.size}}</b></div>

                    </td>
                    <td class="quantity">
                        <input disabled class="form-control input-sm input-micro" type="text" value="{{product.quantity}}">
                    </td>
                    <td class="price">{{product.currencyFormat}}<span>{{product.price | number : '1.2-2'}}</span></td>
                    <td class="actions">
                        <a (click)="remove(product)" class="btn btn-xs btn-grey"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="row">

            <div class="col-sm-4" >
                <table class="cart-totals" style="text-align: right">
                    <tbody>

                        <tr class="cart-grand-total">
                            <td><b>Total</b></td>
                            <td><b>&nbsp;&nbsp;&nbsp;</b></td>

                            <td><b>{{currency}}{{total | number : '1.2-2'}}</b></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>