<div class="container">

	<router-outlet></router-outlet>

	<div class="row">

		<router-outlet name="itens"></router-outlet>

		<div class="col-sm-4 section">
			<router-outlet name="cart"></router-outlet>
		</div>
	</div>

</div>