

<div style="text-align: right" *ngIf="total > 0" class="shopping-cart-items">
    <i class="glyphicon glyphicon-shopping-cart icon-white"></i>
    <a [routerLink]="['/home', {outlets: {cart: ['cart']}}]">
        <b>{{total}} items</b>
    </a>
</div>