<div class="col-md-8 col-sm-12">

	<div *ngFor="let product of products">

		<div class="row" *ngIf="$index % 4 == 0"></div>

		<div class="col-md-3 col-sm-12">

			<!-- Product -->
			<div class="shop-item">
				<!-- Product Image -->
				<div class="shop-item-image">
					<a (click)="onSelect(product)"><img src="app/img/{{product.id}}.png" alt={{product.description}}></a>
				</div>
				<!-- Product Title -->
				<div class="title">
					<h3><a (click)="onSelect(product)">{{product.title}}</a></h3>
				</div>
				<!-- Product Available Colors-->
				<div class="colors">
					<span class="color-white"></span>
					<span class="color-black"></span>
					<span class="color-blue"></span>
					<span class="color-orange"></span>
					<span class="color-green"></span>
				</div>
				<!-- Product Price-->
				<div class="price">
					{{product.currencyFormat}}<span>{{product.price | number : '1.2-2'}}</span>
				</div>
				<!-- Add to Cart Button -->
			<!--	<div class="actions">
					<a (click)="onSelect(product)" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
				</div> -->
			</div>
			<!-- End Product -->
		</div>

	</div>

</div>