<h3> Selected Product </h3>

<div *ngIf="product" class="section">

    <form #productForm="ngForm">

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="product-image-large">
                        <img src="app/img/{{product.id}}.png" alt="{{product.description}}">
                    </div>
                    <div class="colors">
                        <span class="color-white"></span>
                        <span class="color-black"></span>
                        <span class="color-blue"></span>
                        <span class="color-orange"></span>
                        <span class="color-green"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 product-details">

                    <div class="price">
                        <p>
                            {{product.currencyFormat}}<span>{{product.price | number : '1.2-2'}}</span>
                        </p>
                    </div>

                    <p>
                        {{product.title}}
                    </p>

                    <p>
                        {{product.description}}
                    </p>

                    <p>
                        {{product.style}}
                    </p>

                    <table class="shop-item-selections">
                        <!-- Color Selector -->
                        <tbody>

                            <tr>
                                <td><b>Size:</b></td>
                                <td>
                                    <div class="dropdown">

                                        <select [(ngModel)]="product.size" required name="size" #name="ngModel" class="btn btn-sm btn-grey">
                                    <option *ngFor="let size of product.availableSizes" value={{size}}>
                                        {{size}}
                                    </option>
                                    </select>

                                    </div>
                                </td>
                            </tr>
                            <!-- Quantity -->
                            <tr>
                                <td><b>Quantity:</b></td>
                                <td>
                                    <input [(ngModel)]="product.quantity" required name="quantity" #name="ngModel" type="text" class="form-control input-sm input-micro">
                                </td>

                            </tr>

                            <!-- Add to Cart Button -->
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <button (click)="addCart(product)" type="button" class="btn btn-primary" [disabled]="!productForm.valid">Add Cart</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </form>

</div>